<nav class="main-Home-nav">
  <div> <a href="/"><p class="logoHome">KellyServices</p></a></div>
  <div class="menu">
    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="34px" height="34px"fill="white" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve">
        <g>
            <g>
                <path d="M604.267,194.727c4.257,0,7.733-3.644,7.733-7.733v-40.169c0-4.256-3.283-7.733-7.733-7.733H7.733
                    c-4.256,0-7.733,3.644-7.733,7.733v40.169c0,4.256,3.283,7.733,7.733,7.733H604.267z"/>
                <path d="M0,326.084c0,4.256,3.283,7.733,7.733,7.733h596.533c4.256,0,7.733-3.645,7.733-7.733v-40.169
                    c0-4.284-3.283-7.733-7.733-7.733H7.733c-4.256,0-7.733,3.645-7.733,7.733V326.084z"/>
                <path d="M0,465.175c0,4.256,3.283,7.733,7.733,7.733h596.533c4.256,0,7.733-3.645,7.733-7.733v-40.169
                    c0-4.256-3.283-7.732-7.733-7.732H7.733c-4.256,0-7.733,3.644-7.733,7.732V465.175z"/>
            </g>
        </g>
    </svg>
  </div>
  <ul>
    
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav> 
<section class="about">
  <div>
    <span>About us!</span>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil est consectetur exercitationem consequatur ipsum omnis porro vero eum, vel, odio dolorem incidunt cumque voluptates at explicabo quasi fugiat suscipit dolorum!Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil est consectetur exercitationem consequatur ipsum omnis porro vero eum, vel, odio dolorem incidunt cumque voluptates at explicabo quasi fugiat suscipit dolorum!Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil est consectetur exercitationem consequatur ipsum omnis porro vero eum, vel, odio dolorem incidunt cumque voluptates at explicabo quasi fugiat suscipit dolorum!Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil est consectetur exercitationem consequatur ipsum omnis porro vero eum, vel, odio dolorem incidunt cumque voluptates at explicabo quasi fugiat suscipit dolorum!Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil est consectetur exercitationem consequatur ipsum omnis porro vero eum, vel, odio dolorem incidunt cumque voluptates at explicabo quasi fugiat suscipit dolorum!Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil est consectetur exercitationem consequatur ipsum omnis porro vero eum, vel, odio dolorem incidunt cumque voluptates at explicabo quasi fugiat suscipit dolorum! 
    </p>
  </div>
</section>