<!---///LINK QUE NOS LLEVA AL SIGNUP EN EL HOME//////////-->
<nav class="main-Home-nav">
  <div> <a href="/">
      <p class="logoHome">KellyServices</p>
    </a></div>
  <div class="menu">
    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
      y="0px" width="34px" height="34px" fill="white" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;"
      xml:space="preserve">
      <g>
        <g>
          <path d="M604.267,194.727c4.257,0,7.733-3.644,7.733-7.733v-40.169c0-4.256-3.283-7.733-7.733-7.733H7.733
          c-4.256,0-7.733,3.644-7.733,7.733v40.169c0,4.256,3.283,7.733,7.733,7.733H604.267z" />
          <path d="M0,326.084c0,4.256,3.283,7.733,7.733,7.733h596.533c4.256,0,7.733-3.645,7.733-7.733v-40.169
          c0-4.284-3.283-7.733-7.733-7.733H7.733c-4.256,0-7.733,3.645-7.733,7.733V326.084z" />
          <path d="M0,465.175c0,4.256,3.283,7.733,7.733,7.733h596.533c4.256,0,7.733-3.645,7.733-7.733v-40.169
          c0-4.256-3.283-7.732-7.733-7.732H7.733c-4.256,0-7.733,3.644-7.733,7.732V465.175z" />
        </g>
      </g>
    </svg>
  </div>
  <ul id="header-menu">

    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>
<main>
  <section class="homeTitular">
    <h1>Welcome to KellyServices</h1>
    <h3>Saca brillo a tu hogar</h3>
  </section>



  <section class="homeForms">
    <div class="singup-form-Client ">
      <h2>Client Signup</h2>
      <form action="/client/signup" method="POST">

        <label>
          <input type="text" name="fullName" placeholder="Name" required />
        </label>
        <label>
          <input type="email" name="email" placeholder="Email" required />
        </label>
        <label>
          <input type="password" name="password" placeholder="********" required />
        </label>
        <label>
          <input type="text" name="address" placeholder="Address" required />
        </label>
        <label>
          <input type="number" name="postcode" placeholder="Post code" required />
        </label>

        <button type="submit" id="btn-singup-Client" class="btn btn-Client-login">Signup</button>

        {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
        {{/if}}
      </form>
      <div class="cont-links">
        <a href="javascript:void(0)" class="login-Client"> go to Login</a>
        <a href="javascript:void(0)" class="btn-Worker">I´m a worker</a>
      </div>

    </div>

    <div class="login-form-Client">
      <h2>Login Client</h2>
      <form action="/client/login" method="POST">
        <label>
          <input type="email" name="email" placeholder="email" required />
        </label>
        <label>
          <input type="password" name="password" placeholder="********" />
        </label>
        <button type="submit" id="entrarDashBoardCliente" class="btn">Login</button>
        <div class="cont-links">
          <a href="javascript:void(0)" class="btnNewRegisterClient"> New Registration</a>
          <a href="javascript:void(0)" class="jumpLoginWorker">login as worker</a>
        </div>

      </form>
    </div>

   

    <div class="singup-form-Worker">
      <h2>Worker Signup</h2>
      <form action="/worker/signup" method="POST">
        <label>
          <input type="text" name="fullName" placeholder="Name" required />
        </label>
        <label>
          <input type="email" name="email" placeholder="Email" required />
        </label>
        <label>
          <input type="password" name="password" placeholder="********" required />
        </label>
        <label>
          <input type="text" name="address" placeholder="Address" required />
        </label>
        <label>
          <input type="number" name="postcode" placeholder="Post code" required />
        </label>
        <div class="worker-checkbox">
          <p><strong>Services offered:</strong></p>
          <label>
            <input type="checkbox" name="serviceType" value="Limpieza" />
            <p>Cleaning services</p>
          </label>
          <label>
            <input type="checkbox" name="serviceType" value="Canguro" />
            <p>Babysitting services</p>
          </label>
          <label>
            <input type="checkbox" name="serviceType" value="Jardineria" />
            <p>Landscaping services</p>
          </label>
        </div>
        <button type="submit" class="btn btn-Client-login">Signup</button>
        {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
        {{/if}}
      </form>
      <div class="cont-links">
        <a href="javascript:void(0)" class="login-Worker"> go to Login</a>
        <a href="javascript:void(0)" class="btn-Client">I´m a Client</a>
      </div>
    </div>

    <div class="login-form-Worker">
      <h2>Login Worker</h2>
      <form action="/worker/login" method="POST">
        <label>
          <input type="text" name="email" placeholder="email" required />
        </label>
        <label>
          <input type="password" name="password" placeholder="********" required />
        </label>
        <button type="submit" class="btn">Login</button>
        <div class="cont-links">
          <a href="javascript:void(0)" class="btnNewRegisterWorker"> New Registration</a>
          <a href="javascript:void(0)" class="jumpLoginClient">login as Client</a>
        </div>

      </form>
    </div>


  </section>

</main>