<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<!---///LINK QUE NOS LLEVA AL SIGNUP EN EL HOME//////////-->
<section id="home-worker" class="homeHorker">
    <p>Worker</p>
<a href="/authWorker/worker-signup">Signup</a>
<a href="/authWorker/worker-login">Login</a>
<a href="/authWorker/worker-profile">Profile</a>

</section>
  <p>Client</p>
<section id="home-client" class="homeClient">
<a href="/authClient/client-signup">Signup</a>
<a href="/authClient/client-login">Login</a>
<a href="/authClient/client-profile">Profile</a>

</section>