.main-Home-nav ul img {display: none;}
@media screen and (max-width: 1024px) {
    .singup-form-Client, .singup-form-Worker {
        width: 100%;
        margin-right: 20px;
    }
    main {
        flex-direction: column;   
     }
     .homeTitular {
         width: 90%;
         height: auto;
         margin-top: 60px;
     }
     .homeForms {
        height: auto;
         
    }
    .singup-form-Client, 
    .singup-form-Worker {
        margin-right: 0px;
    }
    .contact form {
        width: 50%;
    }
    .about {
        align-items: center;
        margin: 0 auto;
    }
    .about div{
        width: 70%;
        margin: 0 auto;
    }
    /* dashboard */
    .dashboard-content {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 15px;
        margin: 0 auto;
    }
    .create-service,
    .resume-offerts{
        width: 97%;
        order:2;
    }
    .current-active-services, 
    .worker-active-offerts{
        width: 97%;
        order:1;
    }
    /*Fin dashboard */
}
@media screen and (max-width: 768px) {
    .main-Home-nav div.menu {
        display: block;
        top: 10px;
        right: 20px;
    }  
    .main-Home-nav ul {
        width: fit-content;
        height: auto;
        display: flex;
        position: absolute;
        top: 40px;
        right: 20px;
        flex-direction: column;
        gap: 5px;
        justify-content: space-around;
        list-style: none;
        margin-right: 0px;
        padding: 0px;
        opacity: 0;
    }
    .main-Home-nav ul li {
        display: flex;
        justify-content: end;
        opacity: 0;
    }
    .main-Home-nav ul li a {
        width: 100%;
        text-align: right;
    }
     
    .homeForms {
        width: 80%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .singup-form-Client, .singup-form-Worker {
        width: 100%;
    }
    /* service-details */
    .service-details .cont-details {
        width: 80%;
    }
    .cont-details form {
        margin: 0 auto;
    }
    /* fin service-details */

    .edit-services-form {
        width: 92%;
        margin-left: 0px  !important;
    }
    .editFormProfiles .cont-profile {
        width: 80%;
  }
}
@media screen and (max-width: 600px) {
    .create-service,
    .resume-offerts{
        width: 96%;
    }
    .current-active-services, 
    .worker-active-offerts{
        width: 96%;
    }
    .editFormProfiles .cont-profile form {
        width: 94%;
        margin-left: 0px !important;
    }
}
@media screen and (max-width: 550px) {
    main {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        
    }
    .nav-dashboard {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-bottom: 2px solid white;
    }
    .nav-dashboard p {
        font-size: 16px;
        font-weight: bold;
        margin: 0px 0px;
        margin-top: 5px;
        width: 100%;
        text-align: center;
    }
    .nav-dashboard div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 15px;
        margin-right: 0px;
        margin-bottom: 5px;
    }
    .homeTitular {
        width: 90%;
        margin: 0 auto;
        margin-top: 60px;
    }
    .homeTitular h1 {
        text-align: center;
    }
    .contact form {
        width: 80%;
    }
    .about div{
        width: 80%;
    }
    /* dashboard */
    .current-active-services li {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 10
    }
    /* Fin dashboard */
    .service-details .cont-header-details.extra-edit {height: auto;}
    .service-details .cont-header-details.extra-edit div {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .service-details .cont-header-details {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
   }
   .btn {
        padding: 5px 20px;
    }
    .service-details .cont-header-details {
        height: auto; 
   }
}

@media screen and (max-width: 475px) {

    
    .homeTitular {
        width: 90%;
        margin: 0 auto;
        margin-top: 60px;
    }
     
    .singup-form-Client,
    .singup-form-Worker {
        widows: 100%;
        padding: 20px 20px;
    }
    .singup-form-Client form, .singup-form-Worker form {
       gap: 20px;
    }
    .singup-form-Client label p,
    .singup-form-Worker label p {
        display:none;
    
    }
    .create-service,
    .resume-offerts{
        width: 94%;
    }
    .current-active-services, 
    .worker-active-offerts{
        width: 94%;
    }
    .create-service form label input {
        width: 95%;
   }
   .cont-header-profile {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
    }
    .cont-header-profile a.btn.back {
       margin-top:10px
    }

}

@media screen and (max-width: 375px) {
    .main-Home-nav {z-index: 100;}
    .main-Home-nav ul li a {color: #00B7FF;}
    main {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .homeTitular { display: none;}

    .homeTitular h1 {
        font-size: 30px;
        line-height: 30px;
    }
    .homeTitular h3 {
        font-size: 20px;
        line-height: 20px;
    }
    .homeForms {
        width: 90%;
        margin: 0 auto;
        margin-top: 70px;
        
    }
    .singup-form-Client, .singup-form-Worker {
        width: 100%;
    }
     
    .singup-form-Worker {
        display:none;
        
    }
    .singup-form-Client form,
    .singup-form-Worker form {
        width: 100%;
        z-index: 1;
    }
    .singup-form-Client label,
    .singup-form-Worker label {
        width: 100%;
        height: 30px;
        margin-bottom: 15px;
    }
    
     
    .btn {
        /* min-height: 40px; */
        width: -webkit-fill-available;
        margin-bottom: 15px;
    }
}

