
/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
   

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Roboto Regular';
    background-color: White;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

a {
    color: #00B7FF;
}

.active {
    display: block;
    opacity: 1;
}
 /* ==========================================================================
   Author's custom styles
   ========================================================================== */
.main-Home-nav {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.main-Home-nav div{
    width: fit-content;
    height: 60px;
    margin-left: 20px;
    text-shadow: 1px 1px 2px #b7b7b7;
}
.homeTitular {
    width: 50%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logoHome {
    color: white;
    font-size: 30px;
    line-height: 30px;
    margin-top: 23px;
}
 
.main-Home-nav div {
    width: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.main-Home-nav ul {
     
    width: fit-content;
     display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
    list-style: none;
    margin-right: 20px;
}
.main-Home-nav div.menu { 
    display: none;
    width: 30px;
    height: 30px;
    top: 20px;
    right: 20px;
}
.main-Home-nav div.menu svg { 
    -webkit-transition: .3s ease-out;
    -moz-transition: .3s ease-out;
    -o-transition: .3s ease-out;
    transition: .3s ease-out;
}
.main-Home-nav div.menu:hover svg { 
    fill:#00B7FF
}
.main-Home-nav ul  {
    opacity: 1;
}
.main-Home-nav ul li {
    opacity: 1 !important;
}
.main-Home-nav ul li a {
    font: 20px 'Roboto Regular';
 
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px #b7b7b7;
    -webkit-transition: .3s ease-out;
    -moz-transition: .3s ease-out;
    -o-transition: .3s ease-out;
    transition: .3s ease-out;
}
.main-Home-nav ul li a:hover {
    color: #00B7FF;    
}
main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    font: 16px 'Roboto Regular';
    background-color: white;
    background-image: url(../images/servicios-limpieza1.jpeg);
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    color: #000;
}

.homeTitular h1 {
    font-size: 40px;
    line-height: 40px;
    font-family: 'Roboto Bold';
    color:white;
    margin-bottom: 10px;
}
.homeTitular h3 {
    font-size: 25px;
    line-height: 25px;
    font-family: 'Roboto Bold';
    color:#00B7FF;
    margin-top: 0px;
}

.homeForms {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.singup-form-Client,
.singup-form-Worker {
    width: 50%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 1px solid #b2b2b2;
    border-radius: 5px;
    background-color: white;
    padding: 30px 40px;
    -webkit-box-shadow: 0px 6px 25px 6px rgba(178,178,178,0.7); 
    box-shadow: 0px 6px 25px 6px rgba(178,178,178,0.7);
    opacity: 1;
}
.singup-form-Worker {
    display:none;
    opacity: 0;
    
}
.singup-form-Client form,
.singup-form-Worker form {
    width: 100%;
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:  5px;
    
}
.singup-form-Client label,
.singup-form-Worker label {
    width: 100%;
     
}
.singup-form-Client label p,
.singup-form-Worker label p {
    margin-bottom: 5px;
}
.singup-form-Client form input,
.singup-form-Worker form input {
    width: -webkit-fill-available;
    height: 30px;
    border-radius: 3px;
    padding: 5px 10px;
}
 
 .cont-links {
     width: 100%;
     display: flex;flex-direction: row;
     justify-content: space-around;
     margin-bottom: 20px;
 }
.btn {
    width: -webkit-fill-available;
    height: 44px;
    font-family: 'Roboto Medium';
    font-size: 16px;
    padding: 5px 40px;
    text-align: center;
    color: white;
    background-color: #00B7FF;
    border: 1px solid white;
    border-radius: 25px;
    margin: 20px 0px;
    
}
/* .btn:hover {

} */
.main-Home-nav ul li button {
    font-family: 'Roboto Medium';
    font-size: 16px;
    padding: 5px 40px;
    text-align: center;
    color: #b2b2b2;
    color: white;
    background-color: #00B7FF;
    border: 1px solid white;
    border-radius: 10px;;
}
 
























 

 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


