<h1>New review</h1>

<a href="/services/my-services">Volver a la lista de servicios</a>



<form action="/reviews/new" method="POST">

    <label> Comentario:
        <input name="comment" type="text">
    </label>
    <br>

    <label> Rating:
        <input name="rating" type="number">
    </label>
    <br>

    {{!-- <label> Servicio:
        {{newReview.service}}
    </label> --}}
    <br>

    <button type="submit">Crear review</button>

</form>